APP_NAME=Trader Mini Backend
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST:5432/DB_NAME
CORS_ORIGINS=https://your-frontend-domain.com
ENVIRONMENT=production
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBAPP_URL=https://your-frontend-domain.com
